@page
@model Asm02Solution.Pages.Orders.IndexModel

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].Product.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].Order.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].Order.RequiredDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].Order.ShippedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].Order.Freght)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].Order.ShipAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].Order.CustomerId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderDetail)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order.RequiredDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order.ShippedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order.Freght)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order.ShipAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order.CustomerId)
                </td>
                <td>
                    <a asp-page="./Delete" asp-route-id="@item.OrderId">Detail</a>
                </td>
            </tr>
        }
    </tbody>
</table>
